<div class="page-header">
  <h1>Thank you, <%= @name %></h1>
</div>

<p class="lead">An email containing a link to view and electronically sign the <%= agreement_name %> in DocuSign will be delivered to <mark><%= @email %></mark> shortly.</p>

<p>
  <a class="btn btn-link" href="/status">View status &raquo;</a>
</p>
