<div class="page-header">
  <h1><%= agreement_name %></h1>
</div>

<p class="lead">
  We appreciate your contribution to the Project. By signing a Contribution License Agreement, we ensure the community is free to use your contributions.
</p>

<p>To get started, please sign in with your GitHub credentials and fill out the form. We will then send you the agreement to sign electronically. This should only take a few minutes.</p>

<p>
  <a href="/form" class="btn btn-lg btn-default"><img src="/img/github.png" /> Sign in with GitHub</a>
</p>
